version: "3.8"

services:
    spa-react:
        build:
            context: ./apps/spa-react
            dockerfile: Dockerfile
        ports:
        - "3001:3001"
        restart: always

    mf-spa-react:
        build:
            context: ./apps/mf-spa-react
            dockerfile: Dockerfile
        ports:
        - "3002:3002"
        restart: always

    mf-remote-ui:
        build:
            context: ./apps/mf-remote-ui
            dockerfile: Dockerfile
        ports:
        - "3003:3003"
        restart: always
