version: "3.8"

services:
    # Databases
    postgres:
        image: postgres:17.5-alpine
        container_name: postgres
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
        ports:
            - "5432:5432"
        volumes:
            - ./tmp/postgres:/var/lib/postgresql/data

    mongo:
        image: mongo:latest
        container_name: mongo
        restart: always
        ports:
            - "27017:27017"
        volumes:
            - ./tmp/mongo:/data/db

    # Kafka & Zookeeper
    # zookeeper:
    #     image: confluentinc/cp-zookeeper:7.2.15
    #     container_name: zookeeper
    #     environment:
    #         ZOOKEEPER_CLIENT_PORT: 2181
    #         ZOOKEEPER_TICK_TIME: 2000
    #     ports:
    #         - "2181:2181"
    #     volumes:
    #         - ./tmp/zookeeper/data:/var/lib/zookeeper/data
    #         - ./tmp/zookeeper/log:/var/lib/zookeeper/log
    #     restart: always

    # kafka:
    #     image: confluentinc/cp-kafka:7.9.0
    #     container_name: kafka
    #     depends_on:
    #         - zookeeper
    #     ports:
    #         - "9092:9092"
    #         - "29092:29092"
    #     environment:
    #         KAFKA_BROKER_ID: 1
    #         KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    #         KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
    #         KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
    #         KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
    #         KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
    #         KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    #     volumes:
    #         - ./tmp/kafka/data:/var/lib/kafka/data
    #     restart: always
    #     healthcheck:
    #         test:
    #             [
    #                 "CMD",
    #                 "kafka-topics",
    #                 "--bootstrap-server",
    #                 "localhost:9092",
    #                 "--list",
    #             ]
    #         interval: 10s
    #         timeout: 5s
    #         retries: 5

    # kafka-ui:
    #     image: provectuslabs/kafka-ui:latest
    #     container_name: kafka-ui
    #     depends_on:
    #         - kafka
    #     ports:
    #         - "8090:8080"
    #     environment:
    #         KAFKA_CLUSTERS_0_NAME: local
    #         KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    #         KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    #         DYNAMIC_CONFIG_ENABLED: "true"
    #     restart: always

    # Observability Stack
    memcached:
        image: memcached:1.6.29
        container_name: memcached
        ports:
            - "11211:11211"
        environment:
            - MEMCACHED_MAX_MEMORY=64m
            - MEMCACHED_THREADS=4
        restart: always

    tempo:
        image: grafana/tempo:2.8.0
        command: ["-config.file=/etc/tempo.yaml"]
        volumes:
            - ./instrumentation/tempo/tempo.yaml:/etc/tempo.yaml
            - ./tmp/tempo/data:/var/tempo
        ports:
            - "3200:3200" # tempo
            - "4183:4317" # otlp grpc
        depends_on:
            - memcached
        restart: always

    loki:
        image: grafana/loki:main-075a5ec
        ports:
            - "3100:3100"
        command: -config.file=/etc/loki/local-config.yaml
        volumes:
            - ./tmp/loki/data:/loki
        restart: always

    prometheus:
        image: prom/prometheus:v3.4.1
        volumes:
            - "./instrumentation/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
            - "./tmp/prometheus/data:/prometheus"
        ports:
            - 9090:9090
        restart: always

    otel-collector:
        image: otel/opentelemetry-collector-contrib:0.127.0
        restart: always
        command: ["--config=/etc/otelcol-config.yml"]
        volumes:
            - ./instrumentation/otel/otelcol-config.yml:/etc/otelcol-config.yml
        ports:
            - "1888:1888" # pprof extension
            - "8888:8888" # Prometheus metrics exposed by the collector
            - "8889:8889" # Prometheus exporter metrics
            - "13133:13133" # health_check extension
            - "4317:4317" # OTLP gRPC receiver
            - "4318:4318" # OTLP HTTP receiver
            - "55679:55679" # zpages extension
        depends_on:
            - prometheus

    grafana:
        image: grafana/grafana:12.0.1
        ports:
            - "3000:3000"
        volumes:
            - ./tmp/grafana/data:/var/lib/grafana
            - ./instrumentation/grafana/provisioning:/etc/grafana/provisioning
            - ./instrumentation/grafana/dashboards:/var/lib/grafana/dashboards
        restart: always
