version: "3.8"

services:
    tempo:
        image: grafana/tempo:latest
        command: [ "-config.file=/etc/tempo.yaml" ]
        volumes:
        - ./instrumentation/tempo/tempo.yaml:/etc/tempo.yaml
        - ./tmp/tempo/data:/var/tempo
        ports:
        - "3200:3200" # tempo
        - "4183:4317" # otlp grpc
        depends_on:
        - memcached

    memcached:
        image: memcached:1.6.29
        container_name: memcached
        ports:
        - "11211:11211"
        environment:
        - MEMCACHED_MAX_MEMORY=64m
        - MEMCACHED_THREADS=4

    loki:
        image: grafana/loki:latest
        ports:
        - "3100:3100"
        command: -config.file=/etc/loki/local-config.yaml
        volumes:
        - ./tmp/loki/data:/loki
        restart: always

    prometheus:
        image: prom/prometheus:latest
        volumes:
        - "./instrumentation/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
        - "./tmp/prometheus/data:/prometheus"
        ports:
        - 9090:9090
        restart: always

    grafana:
        image: grafana/grafana:latest
        ports:
        - "3000:3000"
        volumes:
        - ./tmp/grafana/data:/var/lib/grafana
        - ./instrumentation/grafana/provisioning:/etc/grafana/provisioning
        - ./instrumentation/grafana/dashboards:/var/lib/grafana/dashboards
        restart: always

    zookeeper:
        image: confluentinc/cp-zookeeper:latest
        container_name: zookeeper
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        ports:
        - "2181:2181"
        volumes:
        - ./tmp/zookeeper/data:/var/lib/zookeeper/data
        - ./tmp/zookeeper/log:/var/lib/zookeeper/log
        restart: always

    kafka:
        image: confluentinc/cp-kafka:latest
        container_name: kafka
        depends_on:
        - zookeeper
        ports:
        - "9092:9092"
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_PROCESS_ROLES: 'broker,controller' # <--- ADD THIS LINE
        volumes:
        - ./tmp/kafka/data:/var/lib/kafka/data
        restart: always
        healthcheck:
            test: [ "CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list" ]
            interval: 10s
            timeout: 5s
            retries: 5

    otel-collector:
        image: otel/opentelemetry-collector-contrib:latest
        restart: always
        command: ["--config=/etc/otelcol-config.yml"]
        volumes:
        - ./instrumentation/otel/otelcol-config.yml:/etc/otelcol-config.yml
        ports:
        - "1888:1888"   # pprof extension
        - "8888:8888"   # Prometheus metrics exposed by the collector
        - "8889:8889"   # Prometheus exporter metrics
        - "13133:13133" # health_check extension
        - "4317:4317"   # OTLP gRPC receiver
        - "4318:4318"   # OTLP HTTP receiver
        - "55679:55679" # zpages extension
        depends_on:
        - prometheus

    postgres:
        image: postgres:latest
        container_name: postgres
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
        ports:
        - "5432:5432"
        volumes:
        - ./tmp/postgres:/var/lib/postgresql/data

    mongo:
        image: mongo:latest
        container_name: mongo
        restart: always
        ports:
        - "27017:27017"
        volumes:
        - ./tmp/mongo:/data/db
