receivers:
    otlp:
        protocols:
            grpc:
                endpoint: 0.0.0.0:4317
            http:
                endpoint: 0.0.0.0:4318
                cors:
                    allowed_origins:
                        - http://*
                        - https://*

connectors:
  servicegraph:
    virtual_node_extra_label: false
    virtual_node_peer_attributes:
      - peer.service
      - client.service
    dimensions:
      - http.route
      - http.target
      - http.method
  spanmetrics:
    histogram:
      explicit:
        buckets: [100us, 1ms, 2ms, 6ms, 10ms, 100ms, 250ms]
    dimensions:
      - name: http.method
        default: GET
      - name: http.status_code
      - name: host.name
    exemplars:
      enabled: true
    dimensions_cache_size: 1000
    aggregation_temporality: "AGGREGATION_TEMPORALITY_CUMULATIVE"
    metrics_flush_interval: 15s
    metrics_expiration: 5m
    events:
      enabled: true
      dimensions:
        - name: exception.type
        - name: exception.message
    resource_metrics_key_attributes:
      - service.name
      - telemetry.sdk.language
      - telemetry.sdk.name

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"
    # Enable delta temporality support for frontend histograms
    enable_open_metrics: true
    # Send cumulative to Prometheus (it expects cumulative counters)
    resource_to_telemetry_conversion:
      enabled: true

  prometheus/servicegraph:
    endpoint: "0.0.0.0:9090"
    namespace: servicegraph

  otlphttp/logs:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true

  otlphttp/traces:
    endpoint: http://tempo:4183
    tls:
      insecure: true

  otlp:
    endpoint: otelcol:4317

processors:
  batch:

extensions:
  health_check:
  pprof:
    endpoint: :1888
  zpages:
    endpoint: :55679

service:
  extensions: [pprof, zpages, health_check]
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlphttp/traces, spanmetrics, servicegraph]
      processors: [batch]
    metrics:
      receivers: [otlp, spanmetrics, servicegraph]
      exporters: [prometheus,prometheus/servicegraph]
      processors: [batch]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/logs]
